{% extends "layout.html" %}
{% block content %}

<h4>"Follow-up Mensal"</h4>

<div align="center"><h6> <font color= '#8B6914' face='times new roman'  pr /> Somos uma comunidade católica de amor e adoração que comunica a Boa Nova de Jesus Cristo no poder do Espírito Santo.

A Comunidade Canção Nova é uma comunidade carismática católica, fundada por padre Jonas Abib e reconhecida pelo Pontifício Conselho para os Leigos como associação internacional privada de fiéis, dotada de personalidade jurídica (cfr. CIC, cân. 298-311; 321-329) e tem sua sede na cidade de Cachoeira Paulista  (SP), Diocese de Lorena, São Paulo – Brasil.

O termo “Canção Nova” corresponde ao Cântico Novo, tema que perpassa toda a história da salvação: é o cântico dos remidos, o cântico das mulheres e homens novos para o Mundo Novo. A Comunidade Canção Nova assume o compromisso de ser este cântico para a Igreja e para o mundo. A Comunidade Canção Nova pretende ser na Igreja, a “Casa de Maria”, entendendo tal expressão no sentido bíblico: da descendência de Maria, da raça de Maria, sua Mãe e educadora.

A Comunidade Canção Nova é um corpo associativo de fiéis cristãos formado de mulheres e homens; jovens e adultos; solteiros, casados e celibatários, sacerdotes e diáconos, que assumem a vivência mais radical da consagração a Deus feita no Batismo e na Crisma, em função do apostolado, numa vida em comunidade, conforme o estado de cada um. Tal vivência inspira-se na prática dos conselhos evangélicos, adaptada à vida secular.

O fundamento da Comunidade Canção Nova é o Evangelho: viver e comunicá-lo de maneira integral, na eficácia do Espírito Santo, enquanto esperam e apressam a vinda gloriosa do Senhor (cf. 2Pd 3,12), deve ser o empenho de todos os membros. A Canção Nova é chamada a ser a Casa de Misericórdia.</h6></div>





{% endblock %}
